@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    scroll-behavior: smooth;

}
.container{
    height:100vh;
    overflow-x: hidden;
    width:100%;
   


}
nav{
    width:100%;
    height:60px;
    padding:0px 6%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display:flex;

}
.links li{
    list-style: none;
    display:inline-block;
    margin: 0px 16px;
}
.links li a{
    color:#000;
    text-decoration: none;
    position: relative;
}
.links li a::after{
    content:"";
    position: absolute;
    bottom:-2px;
    left:50%;
    transform: translate(-50%);
    height:2px;
    width:0;
    background-color: #000;
    transition: all 0.5s;
}
.links li a:hover::after{
    width:100%;
}
.home{
    height:calc(100vh - 60px);
    width:100%;
    background-color: #000;
    color:#fff;
padding-left: 4%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
}
.left{
    padding:8% 3%;
    
}
.left .small-text{
    margin-left: 14px;
}
.left h1{
    font-size: 55px;
}
.cv{
    padding: 10px 20px;
    margin-top: 17px;
    border-radius: 20px;
    border:2px solid #fff;
    background-color: #000;
    color:#fff;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 14px;

}
.cv a{
    text-decoration: none;
    color: #fff;
}
.home-intro{
    font-weight: 200;
    margin-left: 14px;

}
.cv:hover{
    letter-spacing: 1px;
}
.right{
    overflow: hidden;
}
.right img{
height:280px;
width:280px;
    object-fit: cover;
    box-shadow: 0px 1px 10px rgba(250,250,250,0.3);
    border-radius: 10px;
    margin-right: 20px;
    object-position: center;
}
.bars{
    display:none;
}
.bars span{
    height:3px;
    width:23px;
    background-color: #000;
    margin-top: 4px;
    display:block;
    border-radius: 10px;
}
.bars span{
    font-size:20px;
}
@media (max-width:800px) {
 .container{
     overflow-x: hidden;
 }
    .links{
        position: absolute;
        top:0;
        right:-100%;
        width:230px;
        height:50vh;
        transition: all 0.5s;
        display:flex;
        align-items: center;
        justify-content: center;
        display:none;
        flex-direction: column;
    

    }
    .bars{
        display:block;
        z-index: 1000;
    }
    .links-active{
        position: absolute;
        top:0;
        display:block;
        right:0;
        width:230px;
        height:50vh;
        color:rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        display:flex;
        align-items: center;
        justify-content: center;
        gap:10px;;
        transition: all 0.5s;
        z-index: 999;
        flex-direction: column;
      
    }
}
@media (max-width:805px) {
    .home{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .right{
        padding-right: 20px;
    }
}

.intro-content{
    width:100%;
    padding:4%;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;
    overflow: hidden;
}
.intro-heading{
    padding:5%;
}
.intro-heading h2{
    font-size: 34px;
}
.about{
    overflow: hidden;
}
.about-left .image-cover{
    height:260px;
    width:260px;
    background-color: #000;
    border-radius: 10px;
}
.about-left .image-cover img{
    height:100%;
    width:100%;
}
.about-right{
    overflow: hidden;
}
.about-right p{
    width: 300px;
    margin:0;
    padding:0;
}
.about-right h4{
    margin-top: 6px;
}
.services{
    width:100%;
    padding:4%;
    background-color: #000;
    color:#fff;
}
.services-boxes{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    margin-top: 50px;
    justify-content: center;
    gap:20px;
    align-items: center;
}
.box{
    height:220px;
    width:220px;
    border:1px solid #fff;
    border-radius:10px;
    display:flex;
    flex-direction: column;
   align-items: center;
    padding-top: 50px;
    gap:4px;
    text-align: center;
    transition: 0.5s;
    margin-top: 17px;
}
.box:hover{
    background-color: #fff;
    color:#000;
}
.box:hover i{
    border:1px solid rgb(0, 0, 0);

}
.box i{
padding:10px;
border:1px solid #fff;
border-radius: 50%;
font-size: 18px;
}

.box p{
    font-size: 12px;
}

.skill{
    width:100%;
    padding:6%;
}
.skill-content{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:80px;
    flex-wrap: wrap;
}
.line-heading{
    display:flex;
    width:260px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    
}
.line-html{
    width:260px;
    background-color: rgba(184, 178, 178,0.8);
    border-radius: 20px;;
    height:7px;
    margin-top: 10px;
    overflow: hidden;
}
.line-inside{
    height:100%;
    background-color: #000;
    width:90%;
}
.line-css{
    width:260px;
    background-color: rgba(184, 178, 178,0.8);
    border-radius: 20px;;
    height:7px;
    margin-top: 10px;
    overflow: hidden; 
}
.line-inside-css{
    height:100%;
    background-color: #000;
    width:80%;
}
.line-js{
    width:260px;
    background-color: rgba(184, 178, 178,0.8);
    border-radius: 20px;;
    height:7px;
    margin-top: 10px;
    overflow: hidden; 
}
.line-inside-js{
    height:100%;
    background-color: #000;
    width:60%;
}
.line-bootstrap{
    width:260px;
    background-color: rgba(184, 178, 178,0.8);
    border-radius: 20px;;
    height:7px;
    margin-top: 10px;
    overflow: hidden; 

}
.line-inside-bootstrap{
    height:100%;
    background-color: #000;
    width:85%;
}

.contact{
    width:100%;
    padding:5%;
    background-color: #000;
    color:#fff;
 
}
.contact-content{
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:30px;
}
.contact-left{
    padding-top: 70px;;
}
.contact-left p{
    margin-top: 10px;
    font-size: 13px;
}
.contact-right{
    display: flex;
    flex-direction: column;
}
.contact-right input,textarea{
width:270px;
}
.contact-right input{
    margin-top: 10px;
    padding:10px 10px;
    border:1px solid #ffff;
    outline:0;
    background: transparent;
    color:#fff;
    border-radius: 40px;;
}
::placeholder{
    color:rgba(255, 255, 255,0.6);;
}
.contact-right textarea{
    margin-top: 10px;
    padding:10px 10px;
    border:1px solid #ffff;
    outline:0;
    background: transparent;
    color:#fff;
    border-radius: 10px;
}
.contact-btn{
    width:130px;
    height:30px;
    background-color: #fff;
    color:#000;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;

}
.contact-btn:hover{
    background-color: #000;
    border:1px solid #fff;
    color:#fff;
    border-radius: 20px;
}
.icons{
    margin-top: 20px;
    display:flex;
    gap:24px;
}
.icons i{
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.icons i:hover{
   scale:0.9;
}